databricks_account_id    = "" // Databricks account ID.
databricks_host          = "" // The URL of the workspace to enable Unity Catalog
databricks_token         = "" // The personal access token to provision the resources in the Databricks workspace
databricks_client_id     = "" // Service principal ID for Databricks with admin permissions.
databricks_client_secret = "" // Secret for the corresponding service principal.
databricks_workspace_id  = "" // The ID of the workspace to enable Unity Catalog


# AWS credentials
aws_access_key    = "" // Specifies an AWS access key associated with an IAM user or role
aws_secret_key    = "" // Specifies the secret key associated with the access key. This is essentially the "password" for the access key.
aws_account_id    = "" // AWS account ID where resources will be deployed.
aws_session_token = "" // - Optional Specifies the session token value that is required if you are using temporary security credentials that you retrieved directly from AWS Security Token Service operations.
